<ul>
<% @characters.each do |character| %>
	<% char_id = "#{ character.name.gsub(/\p{^Alnum}/, '').downcase }" %>
	<li class="character" id="<%= char_id %>">
		<div class="character-inner">
			<div class="column-1">
				<div class="img">
					<%= image_tag "#{char_id}.png" %>
				</div>
				<h3><%= character.name %></h3>
				<p class="bio"><%= character.summary.split(".")[0] %>.<p>
				<p class="details"><%= character.references.count %> References over <%= character.episodes.count %> Episodes<p>
			</div>
			<div class="column-2">
				<p class="references">
					<% character.references.each do |ref| %>
					<% ref_id = "#{ ref.subject.gsub(/\p{^Alnum}/, '').downcase }" %>
					 &#9642; <%= link_to references_path(:anchor => "#{ref_id}") do %>
					 	<span><%= ref.line %></span>
					 <% end %>
					<% end %>
				</p>
				<ul class="categories">
					<% category_list(character).each do |cat| %>
					<li><%= cat %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</li>
<% end %>
</ul>